@import "../../../../assets/scss/index.scss";

.slide {
  position: relative;
  .modalPlay {
    @include ModalPlayer;
    width: 70px;
    height: 70px;
  }
}
.slide:hover .modalPlay {
  opacity: 1;
  transition: 0.5s;
}
