<div class="container" *ngIf="arrListMovie" id="lichChieu">

    <div class="cardGroup">
        <mat-card>Nhóm Phim :
            <button mat-mini-fab color="wram" *ngFor="let maNhom of arrMaNhom"
                (click)="getListMovie(maNhom)">{{maNhom}}</button>
        </mat-card>
    </div>

    <div class="menuGroup">
        <button mat-fab color="wram" [matMenuTriggerFor]="menu">{{this.maNhom}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let maNhom of arrMaNhom" (click)="getListMovie(maNhom)">{{maNhom}}</button>
        </mat-menu>
    </div>

    <ngx-slick-carousel class="carouselListMovie" [config]="slideConfigMovie">
        <div ngxSlickItem *ngFor="let item of arrListMovie" class="slideListMovie">
            <div class="indexListMovie">
                <img src={{https}}{{item.hinhAnh.substring(4)}} alt="" width="100%" height="100%" />
                <div class="infoMovie">
                    <span class="codeMovie">{{item.maPhim}}</span>
                    <span class="nameMovie">{{item.tenPhim | shortcut : 20}}</span>
                </div>
                <button class="btnMuaVe" routerLink="moviedetail/{{item.maPhim}}">Mua Vé</button>
                <label class="modalPlay" (click)="showModalVideo(item.trailer)">
                    <mat-icon class="iconPlay">
                        play_arrow
                    </mat-icon>
                </label>
            </div>
        </div>
    </ngx-slick-carousel>
</div>