@import "../../../../assets/scss/index.scss";


.cardGroup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    mat-card {
        max-width: 600px;
        button {
            margin-right: 5px;
            ::ng-deep .mat-button-wrapper{
                font-size: $fs12;
            }
        }
    }
}

.menuGroup {
    text-align: center;
    margin: 10px 0;
    display: none;
}

.carouselListMovie {
    .slideListMovie {
        height: 350px;
        padding: 0 10px;
        margin-bottom: 50px;
        position: relative;
        .indexListMovie {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                border-radius: 5px;
            }
            .infoMovie {
                margin: 5px 0;
                .codeMovie {
                    background-color: $color-red;
                    color: $color-white;
                    padding: 5px 10px;
                    margin-right: 5px;
                    border-radius: $boderR5;
                    color: $color-white;
                    font-weight: bold;
                    cursor: pointer;
                }
                .nameMovie {
                    font-size: 13px;
                    color: $colorOne;
                    font-weight: bold;
                }
            }
        }
        .btnMuaVe {
            color: $color-white;
            background-color: $color-red;
            font-weight: $fw-bold;
            border: none;
            outline: none;
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            border-radius: 5px;
            opacity: 0;
            position: absolute;
            bottom: -13%;
            left: 0%;
        }
        .modalPlay {
            @include ModalPlayer;
        }
        .indexListMovie::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.103));
            position: absolute;
            top: 0%;
            left: 0;
            opacity: 0;
        }
    }
    .slideListMovie:hover .indexListMovie::after,
    .slideListMovie:hover .btnMuaVe,
    .slideListMovie:hover .modalPlay {
        opacity: 1;
        transition: 0.6s;
    }
    .slideListMovie:hover .infoMovie {
        opacity: 0;
    }
}

::ng-deep ngx-slick-carousel .slick-prev {
    background-color: $colorOne !important;
    border-radius: 50% !important;
    top: 47% !important;
}
::ng-deep ngx-slick-carousel .slick-next {
    background-color: $colorOne !important;
    border-radius: 50% !important;
    top: 47% !important;
}

@media (max-width : 900px) {
    .cardGroup{
        display: none !important;
    }
    .menuGroup {
        display: block !important;
    }
    
}
