@import "../../../../assets/scss/index.scss";

.modalSchedule {
    background: $background-3;
    max-width: 600px;
    padding: 20px 0;
    .fieldInputDisabled {
        width: 100%;
        padding: 0 20px;
        ::ng-deep .mat-input-element {
            color: $color-red !important;
            font-size: 15px !important;
        }
    }
    .fieldInput {
        width: 100%;
        padding: 0 20px;
    }
    .fieldCinema {
        width: 100%;
    }
    .btnSubmit {
        text-align: center;
        margin-top: 20px;
        ::ng-deep .mat-button-wrapper {
            font-size: $fs12;
            color: $colorTwo;
        }
    }
    span {
        color: $color-red;
        font-size: $fs10;
    }
    mat-radio-group {
        font-size: $fs13;
        color: $colorOne;
        padding: 0 5px;
        display: flex;
        justify-content: space-around;

        ::ng-deep .mat-radio-inner-circle {
            background-color: $colorOne !important;
        }
        ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border-color: $colorTwo !important;
        }
    }
}
::ng-deep .mat-datetimepicker-calendar-header {
    background: $color-gray-1 !important;
    color: $color-white !important;
}
::ng-deep .mat-datetimepicker-clock-cell.mat-datetimepicker-clock-cell-selected {
    background-color: #850aff;
}
::ng-deep .mat-datetimepicker-clock-hand {
    background-color: #850aff;
}
::ng-deep .mat-datetimepicker-clock-hand::before {
    background-color: #850aff;
}
::ng-deep .mat-datetimepicker-clock-center {
    background-color: #850aff;
}
