<!-- test git lon huy -->
<ng-container *ngIf="!showInfoSignUp else showInfoUser">
    <div class="backGroundsignUp">
        <div class="wrapSignUp">
            <h5>Đăng ký</h5>
            <form [formGroup]="formSignUp" (ngSubmit)="handleSignUp()">
                <!-- taiKhoan -->
                <mat-form-field class="example-full-width">
                    <mat-label>Tài khoản</mat-label>
                    <input matInput required formControlName="taiKhoan" />
                    <mat-error *ngIf="formSignUp?.get('taiKhoan')?.errors?.required">(*) Do Not Empty </mat-error>
                    <mat-error *ngIf="formSignUp?.get('taiKhoan')?.errors?.minlength">(*) Cần trên 3 ký tự </mat-error>
                </mat-form-field>

                <!-- matKhau -->
                <mat-form-field class="example-full-width">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput required formControlName="matKhau" />
                    <mat-error *ngIf="formSignUp?.get('matKhau')?.errors?.required">(*) Do Not Empty
                    </mat-error>
                    <mat-error *ngIf="formSignUp?.get('matKhau')?.errors?.pattern">(*) Mật Khẩu Không Hợp Lệ</mat-error>
                    <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  -->
                </mat-form-field>

                <!-- Confirm Mật Khẩu -->
                <mat-form-field class="example-full-width">
                    <mat-label>Xác Nhận Mật khẩu</mat-label>
                    <input matInput formControlName="conFirmMatKhau" />
                    <mat-error
                        *ngIf=" formSignUp?.get('conFirmMatKhau')?.hasError('matching') && formSignUp.get('conFirmMatKhau')?.touched">
                        Password Not Match
                    </mat-error>
                </mat-form-field>

                <!-- hoTen -->
                <mat-form-field class="example-full-width">
                    <mat-label>Họ tên</mat-label>
                    <input matInput required formControlName="hoTen" />
                    <mat-error *ngIf="formSignUp?.get('hoTen')?.errors?.required">(*) Do Not Empty
                    </mat-error>
                    <mat-error *ngIf="formSignUp?.get('hoTen')?.errors?.minlength">(*) Cần trên 3 ký tự </mat-error>
                </mat-form-field>

                <!-- maNhom -->
                <mat-form-field class="example-full-width">
                    <mat-label>Nhóm</mat-label>
                    <mat-select required formControlName="maNhom">
                        <mat-option *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                            {{ maNhom }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formSignUp.get('maNhom')?.errors?.required  && formSignUp.get('maNhom')?.touched">
                        (*) Do Not Empty</mat-error>
                </mat-form-field>

                <!-- email -->
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput required formControlName="email" />
                    <mat-error *ngIf="formSignUp?.get('email')?.errors?.required">(*) Do Not Empty
                    </mat-error>
                    <mat-error *ngIf="formSignUp?.get('email')?.errors?.pattern">(*) Email không hợp lệ
                    </mat-error>
                </mat-form-field>

                <!-- soDT -->
                <mat-form-field class="example-full-width">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput required formControlName="soDt" />
                    <mat-error *ngIf="formSignUp?.get('soDt')?.errors?.required">(*) Do Not Empty
                    </mat-error>
                    <mat-error *ngIf="formSignUp?.get('soDt')?.errors?.pattern">(*) Chỉ nhập số</mat-error>
                </mat-form-field>


                <span class="notifySignUp">{{notifySignUp}}</span>

                <!-- button -->
                <div class="btnSubmit">
                    <button mat-fab color="primary" type="submit" [disabled]="formSignUp?.invalid">Submit</button>
                    <button mat-fab color="warn" (click)="onClear()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>

<ng-template #showInfoUser>
    <div class="backGroundsignUp">
        <div class="wrapSignUp">
            <h5>Thông tin của bạn</h5>
            <table>
                <thead>
                    <tr>
                        <td>Họ tên: </td>
                        <td>{{showInfoSignUp?.hoTen}}</td>
                    </tr>
                    <tr>
                        <td>Tài khoản: </td>
                        <td>{{showInfoSignUp?.taiKhoan}}</td>
                    </tr>
                    <tr>
                        <td>Mật khẩu: </td>
                        <td>{{showInfoSignUp?.matKhau}}</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>{{showInfoSignUp?.email}}</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>{{showInfoSignUp?.soDt}}</td>
                    </tr>
                    <tr>
                        <td>Loại người dùng:</td>
                        <td>{{showInfoSignUp?.maLoaiNguoiDung}}</td>
                    </tr>
                    <tr>
                        <td>Nhóm:</td>
                        <td>{{showInfoSignUp?.maNhom}}</td>
                    </tr>
                </thead>
            </table>
            <div class="btnSubmit">
                <button mat-fab color="primary" routerLink="/signin">Sign In</button>
                <button mat-fab color="warn" routerLink="/">Home</button>
            </div>
        </div>
    </div>
</ng-template>