@import "../../../assets/scss/index.scss";

.backGroundsignUp {
    background: url(../../../assets/images/background.jpg);
    background-size: cover;
    min-height: 600px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .wrapSignUp {
        max-width: 500px;
        width: 500px;
        padding: 20px;
        background-color: $background-3;
        border-radius: $boderR5;
        overflow: hidden;
        backdrop-filter: blur(6px);
        border: $border;
        box-shadow: $box-shadow;
        h5 {
            text-align: center;
            font-size: $fs20;
            color: $colorTwo;
        }
        .example-full-width {
            width: 100%;
        }
        .errorValid {
            font-size: $fs10;
            color: $color-red;
        }
        .notifySignUp {
            color: $color-red;
            font-size: $fs13;
            margin-bottom: 20px;
        }
        .btnSubmit {
            text-align: center;
            margin-top: 20px;
            .submit {
                margin-right: 10px;
                ::ng-deep .mat-button-wrapper {
                    color: $colorTwo;
                }
            }
        }
    }
}
