<div class="dashboard">
    <div class="container">
        <h5>Admin Page</h5>
        <div class="cardGroup">
            <mat-card>Nhóm :
                <button mat-mini-fab color="wram" *ngFor="let maNhom of arrMaNhom"
                    (click)="getGroupCode(maNhom)">{{maNhom}}</button>
            </mat-card>
        </div>
        <div class="menuGroup">
            <button mat-fab color="wram" [matMenuTriggerFor]="menu">{{this.maNhom}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let maNhom of arrMaNhom"
                    (click)="getGroupCode(maNhom)">{{maNhom}}</button>
            </mat-menu>
        </div>
        <div class="row" style="justify-content: space-evenly;">
            <div class="col-xs-12 col-lg-6">
                <div class="infoMovie">
                    <p>Số Phim Đang Chiếu </p>
                    <p>Nhóm : {{this.maNhom}}</p>
                    <p>Số Phim : <span class="length">{{this.listMovie}}</span> Phim</p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="infoClient">
                    <p>Số Khách Hàng Đăng Ký</p>
                    <p>Nhóm : {{this.maNhom}}</p>
                    <p>Số Khách : <span class="length">{{this.listClient}} </span> user</p>
                </div>
            </div>
        </div>
    </div>
</div>