<div class="footerInfo">
    <div class="container">

        <div class="infoRespon" fxHide.lg fxShow.md>
            <h5>Thỏa thuận sử dụng Chính sách bảo mật</h5>
            <a>
                <img src="../../../../../assets/images/facebook-logo.png" class="imgLogo" />
                <img src="../../../../../assets/images/zalo-logo.png" class="imgLogo" />
            </a>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="5px grid" fxLayoutAlign="space-around start" fxHide.xs fxHide.sm
            fxHide.md>

            <div class="info" fxFlex.gt-lg="20%" fxLayout="column">
                <h5>Tix</h5>
                <ul>
                    <li>
                        <a>FAQ</a>
                    </li>
                    <li>
                        <a>Brand guidelines</a>
                    </li>
                </ul>
            </div>
            <div class="info" fxFlex.gt-lg="20%" fxLayout="column">
                <h5>Thông Tin</h5>
                <ul>
                    <li>
                        <a>Thỏa thuận sử dụng</a>
                    </li>
                    <li>
                        <a>Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="info" fxFlex.gt-lg="20%" fxLayout="column">
                <h5>Đối Tác</h5>
                <a>
                    <img src="../../../../../assets/images/STARLIGHT.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/touch.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/VCB.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/VIETTINBANK.png" class="imgLogoSupply" />
                </a>
                <a>
                    <img src="../../../../../assets/images/zalopay_icon.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/laban.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/IVB.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/aribank.png" class="imgLogoSupply" />
                </a>
                <a>
                    <img src="../../../../../assets/images/galaxycine.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/cinestar.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/lotte.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/payoo.jpg" class="imgLogoSupply" />
                </a>
                <a>
                    <img src="../../../../../assets/images/dcine.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/dongdacinema.png" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/CGV.jpg" class="imgLogoSupply" />
                    <img src="../../../../../assets/images/Galaxy.jpg" class="imgLogoSupply" />
                </a>
            </div>
            <div class="info" fxFlex.gt-lg="20%" fxLayout="column">
                <h5>MOBILE APP</h5>
                <a>
                    <img src="../../../../../assets/images/android-logo.png" class="imgLogo" />
                    <img src="../../../../../assets/images/apple-logo.png" class="imgLogo" />
                </a>
            </div>
            <div class="info" fxFlex.gt-lg="20%" fxLayout="column">
                <h5>SOCIAL</h5>
                <a>
                    <img src="../../../../../assets/images/facebook-logo.png" class="imgLogo" />
                    <img src="../../../../../assets/images/zalo-logo.png" class="imgLogo" />
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="center flex-start" >
            <div class="info" fxFlex-xs="100%" fxFlex.gt-sm="20%" fxLayout="column">
                <img src="../../../../../assets/images/zion-logo.jpg" alt="" class="imgLogoBig">
            </div>
            <div class="info" fxFlex-xs="100%" fxFlex.gt-sm="60%" fxLayout="column">
                <h5>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</h5>
                <p>
                    Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ
                    Chí Minh, Việt Nam.
                </p>
                <p>Giấy chứng nhận đăng ký kinh doanh số: 0101659783,</p>
                <p>
                    đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế
                    hoạch và đầu tư Thành phố Hồ Chí Minh cấp.
                </p>
                <p>Số Điện Thoại (Hotline): 1900 545 436</p>
                <p>Email: support@tix.vn</p>
            </div>
            <div class="info" fxFlex-xs="100%" fxFlex.gt-sm="20%" fxLayout="column">
                <img src="../../../../../assets/images/thongbao.png" alt="" class="imgLogoBig">
            </div>
        </div>
    </div>
</div>