@import "../../../../assets/scss/index.scss";

mat-nav-list {
  .logo {
    width: 40px;
    height: 40px;
  }
  .mat-list-item {
    color: $colorOne;
    .iconHeader {
      background: $colorOne;
      color: $color-white;
      font-size: $fs20;
      border-radius: 50%;
      font-size: 15px;
      text-align: center;
      padding-top: 5px;
      margin-right: 5px;
    }
  }
  mat-panel-title {
    color: $colorOne;
    font-weight: 500;
  }
  .btnLogo {
    ::ng-deep .mat-button-ripple.mat-ripple,
    ::ng-deep .mat-button-focus-overlay {
      top: 0px;
      left: 15px;
      right: 15px;
      bottom: 0;
      position: absolute;
      pointer-events: none;
      border-radius: 50%;
    }
    ::ng-deep .mat-ripple {
      padding: 0 !important;
    }
  }
  .account {
    font-size: 15px;
    font-weight: 500;
    color: $colorOne;
    .spanTitle {
      background: $colorOne;
      color: $color-white;
      border-radius: 50%;
      padding: 10px 15px;
      margin-right: 5px;
    }
  }
  ::ng-deep .mat-button-wrapper {
    color: $colorOne;
  }
}
.btnMenu {
  color: $colorOne;
}